<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <product_is_new_attribute>
                <is_autogeneration_enabled>1</is_autogeneration_enabled>
            </product_is_new_attribute>
        </catalog>
    </default>
</config>
